body {
	font-family: "Helvetica", "Arial";
	font-size: 20px;
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
} 

#nav-bar {
	display: block;
}

#menu1, #menu2, #menu3, #menu4 {
	display: none;
}

ul {
	position: fixed;
	top: 0;
  	left: 0;
  	z-index: 9999;
  	width: 100%;
	list-style-type: none;
	margin: 0;
    	padding: 0;
    	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
    	color: white;
    	text-align: center;
    	padding: 10px 16px;
    	text-decoration: none;
    	background-color: #333;
}

li a:hover {
    	background-color: #111;
}

hr {
	width: 65%;
}

.heading {
 	text-align: center;
 	text-transform: uppercase;
 	font-size: 35px;
}

#introduction {
	padding-top: 43px;
}

#section_introdution {
	display: block;
	max-width: 800px;
	margin-left: auto;
  	margin-right: auto;
  	text-align: justify;
}

#projects {
	padding-top: 18px;
}

h2 {
	margin: 0;
	padding: 0;
}

h3 {
	display: block;
	width: 800px;
	margin: 30px auto 0 auto;
}

.hidden_image{
	box-shadow: 5px 5px 5px grey;
	display: none;
}

.displays {
	display: block;
	text-align: justify;
	width: 800px;
  	margin: 10px auto 75px auto;
}

.last {
  	margin-bottom: 0;
}

.project_image {
	margin: 0px 45px 0px 0px;
	box-shadow: 5px 5px 5px grey;
	float:left;
}

#contact {
	padding-top: 30px;
}

#contact_image {
	display: inline-block;
	width: 100%;
	margin: 30px auto 0px auto;
	text-align: center;
}

.select_image {
	margin: 0px 30px 30px 30px;
}

/* Desktop Responsiveness */
@media screen and (max-width: 890px) {
	#nav-bar {
		display: none;
	}

	#section_introdution {
		max-width: 85%;
	}	

	#menu1 {
		display: block;
	}

	h3 {
		display: block;
		width: 85%;
		margin: 30px auto 0 auto;
	}

	.displays {
		width: 85%;
	}

	li {
		width: 100%;
	}
}

/* Mobile Responsiveness (Small/Portrait) */
@media only screen and (max-device-width: 414px) {
	#nav-bar {
		display: none;
	}
	
	#menu1 {
		display: block;
	}
	
	#section_introdution {
		max-width: 85%;
	}

	h3 {
		display: block;
		width: 85%;
		margin: 30px auto 0 auto;
	}

	.hidden_image {
		display: block;
		width: 85%;
		margin: 10px auto 0px auto;
	}

	.displays {
		display: none;
	}
	
	li {
		width: 100%;
	}
	
	.select_image {
		width: 85px;
		height: 85px;
		margin: 0px 5px 0px 5px;
	}
}
