* {
	font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	font-size: 20px;
}

body {
	margin: 0px;
	padding: 0px;
}

ul {
	position: fixed;
	top: 0;
  	left: 0;
  	z-index: 9999;
  	width: 100%;
	list-style-type: none;
	margin: 0;
    	padding: 0;
    	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
    	color: white;
    	text-align: center;
    	padding: 10px 16px;
    	text-decoration: none;
    	background-color: #333;
}

li a:hover {
    	background-color: #111;
}

.heading {
 	text-align: center;
 	text-transform: uppercase;
 	font-size: 35px;
}

#introduction {
	padding-top: 43px;
}

#section_introdution {
	display: block;
	max-width: 800px;
	margin-left: auto;
  	margin-right: auto;
  	text-align: justify;
}

#projects {
	padding-top: 19px;
}

h2 {
	margin: 0;
	padding: 0;
}

h3 {
	display: block;
	width: 800px;
	margin: 30px auto 0 auto;
}

.hidden_image{
	display: none;
}

.displays {
	display: block;
	text-align: justify;
	width: 800px;
  	margin: 10px auto 75px auto;
}

.last {
  	margin-bottom: 0;
}

.project_image {
	margin: 0px 45px 0px 0px;
	float:left;
}

#contact {
	padding-top: 30px;
}

#contact_image {
	display: inline-block;
	width: 100%;
	margin: 30px auto 0px auto;
	text-align: center;
}

.select_image {
	margin: 0px 30px 30px 30px;
}
