/* Global
---------------------------------*/
:root {
	--name-size: 55px;

	--typewriter-size: 20px;

	--project-title-size: 15px;
	--project-content-size: 14px;
	
	--notice-project-size: 17px;

	--project-line-height-size: 150%;
	
	--project-buttons-margin: 5px;
	--project-button-border-size: 2px;
	--project-button-padding: 2px 6px 2px 1px;

	--margin-one: 25px;
	--margin-two: 35px;
	--margin-divider: 50px;

	--button-size: 60px;
	--button-offset: 20px;
	--button-github-offset: 8px;
	--button-line-offset: -6px;
	--button-full-offset: calc((var(--button-line-offset) * 2) * -1);
	--button-rotation: 45deg;
	--anim-time: 7s;
	--line-width: 1px;
	--clip-size: calc(var(--button-size) + var(--button-full-offset));
	--path-size: calc(var(--clip-size) - var(--line-width));

	--section-inner-size: 70%;

	--color-white: #ffffff;
	--color-black: #000000;

	--white-tint: #eff1f5;
	--black-tint: #202020;
}

body {
	font-size: 15px;
	font-family: 'Oxygen Mono', monospace;
	line-height: 175%;
}
h1 {
	font-size: 33px;
	margin: 0;	
	margin-bottom: 20px;
}
a {
	text-decoration: none;
}

.black {
	background-color: var(--black-tint);
	color: var(--color-white);
}
.black p,
.black h1 {
	color: var(--color-white);
}
.white {
	background-color: var(--white-tint);
}
.white p, 
.white h1 {
	color: var(--black-tint);
}

.section-outer {
	display: flex;
	justify-content: center;
}
.section-inner {
	width: var(--section-inner-size);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.title-container {
	display: flex;
	justify-content: center;
}

.left-container {
	width: 48%;
	float: left;
}
.right-container {
	width: 48%;
	float: right;
}


/* Introduction Section
---------------------------------*/
#section-intro {
	height: 100vh;
	width: 100%;
	position: relative;
}
#canvas-particle, #intro-element {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
}
#intro-element {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	text-align: center;
	z-index: 100;
}
#name_div {
	font-family: 'Bungee', monospace;
	font-size: var(--name-size);
}
#typewriter_div {
	font-family: 'Bungee Hairline', monospace;
	width: 95%;
	font-size: var(--typewriter-size);
	color: var(--color-white);
	margin-top: var(--margin-one);
}
#buttons_div {
	display: flex;
	margin-top: var(--margin-two);
	align-items: center;
	justify-content: center;
}

.button_div {
	display: flex;
	align-items: center;
	justify-content: center;
 	width: var(--button-size);
  	height: var(--button-size);
  	box-shadow: inset 0 0 0 var(--line-width) rgba(255, 255, 255, 0.5);
  	transform: rotate(calc(var(--button-rotation) * -1));
  	transition: 0.3s;
  	background: var(--black-tint);
}
.button_div::before,
.button_div::after {
	content: '';
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	margin: var(--button-line-offset);
  	box-shadow: inset 0 0 0 var(--line-width) rgba(255, 255, 255, 1);
  	animation: clipMe var(--anim-time) cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}
.button_div::before {
	animation-delay: calc((var(--anim-time) * -1) / 2);
}
.button_div:hover {
	background-color: var(--color-black);
}

@keyframes clipMe {
  	0%, 100% {clip: rect(0px, var(--clip-size), var(--line-width), 0px);}
  	25% {clip: rect(0px, var(--line-width), var(--clip-size), 0px);}
  	50% {clip: rect(var(--path-size), var(--clip-size), var(--clip-size), 0px);}
  	75% {clip: rect(0px, var(--clip-size), var(--clip-size), var(--path-size));}
}

.space_divider {
	width: var(--margin-divider);
}

#resume_icon {
	width: calc(var(--button-size) - var(--button-offset));
	height: calc(var(--button-size) - var(--button-offset));
  	transform: rotate(var(--button-rotation));
}
#github_icon {
	width: calc(var(--button-size) - var(--button-offset) + var(--button-github-offset));
	height: calc(var(--button-size) - var(--button-offset) + var(--button-github-offset));
  	transform: rotate(var(--button-rotation));
}
#email_icon {
	width: calc(var(--button-size) - var(--button-offset));
	height: calc(var(--button-size) - var(--button-offset));
  	transform: rotate(var(--button-rotation));
}


/* About Me Section
---------------------------------*/
#aboutme-container {
	text-align: justify;
}

.skills-category {
	color: #c50000;
}
.skills-topic {
	color: #c55000;
}

.brackets-content {
	margin-left: 30px;
}
.brackets-bottom {
	margin-left: 15px;
}

.brackets-arrow {
	display: inline-block;
  	width: 0;
  	height: 0;
  	border-top: 5px solid var(--black-tint);
  	border-right: 5px solid transparent;
  	border-left: 5px solid transparent;
  	transition: all 0.5s;
  	margin-bottom: 3px;
  	cursor: pointer;
}
.brackets-arrow.clicked {
	transform: rotate(-90deg);
}
.brackets-hidden {
	display: none;
}
.skills-switch {
	display: inline-block;
	width: 16px;
	height: 10px;
	border-radius: 10px;
	background-color: var(--color-black);
  	cursor: pointer;
}
.switch {
	display: block;
  	position: relative;
  	width: 8px; height: 8px;
  	top: 1px; left: 1px;
  	border-radius: 4px;
  	background: var(--color-white);
  	transition: all 0.3s;
}
.switch.clicked {
  	transform: translateX(6px);
}


/* Projects Section
---------------------------------*/
#projects-container {
	display: grid;
	grid-template-columns: auto auto auto;
	line-height: 0%;
}
#notice-projects {
	display: flex;
	width: 100%;
	justify-content: center;
	text-align: center;
	font-family: 'Bungee Hairline', monospace;
	font-size: var(--notice-project-size);
}

.project-item {
	position: relative;
	margin: 5px;
}
.project-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.95);
	opacity: 0;
	z-index: 200;
	transition: all 0.3s ease-in-out 0s;
}
.project-details {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	line-height: var(--project-line-height-size);
	transform: translate(-50%, -50%);
	z-index: 201;
	text-align: center;
	opacity: 0;
  	transition: all 0.3s ease-in-out 0s;
}
.project-item:hover .project-overlay {
  opacity: 1;
}
.project-item:hover .project-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.project-image {
	width: 100%;
	z-index: 199;
}
.project-title {
	font-weight: 700;
	font-size: var(--project-title-size);
}
.project-content {
	font-size: var(--project-content-size);
	margin-left: 10px;
	margin-right: 10px;
}
.project-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: var(--project-buttons-margin);
	font-size: var(--project-content-size);
}
.project-button-div {
	display: inline-block;
	color: #ffffff;
	border: solid var(--project-button-border-size);
	border-radius: 4px;
	padding: var(--project-button-padding);
}
.project-button-div img {
	width: 15px;
	height: 15px;
  	transform: translate(30%, 13%);
}
.project-button-space-divider {
	width: 10px;
}


/* Responsive Media Queries
---------------------------------*/
@media only screen and (max-width : 1329px) {
	#projects-container {
		grid-template-columns: auto auto;
    }
}
@media only screen and (max-width: 812px) {
	:root {
		--section-inner-size: 80%;
	}
	.left-container{
		width: 100%;
	}
	.right-container {
		width: 100%;
		float: left;
	}
	#projects-container {
		grid-template-columns: auto;
	}
}
@media only screen and (max-width: 600px) {
	:root {
		--name-size: 35px;

		--typewriter-size: 16px;

		--margin-one: 15px;	
		--margin-two: 25px;

		--margin-divider: 40px;
		
		--button-size: 46px;
		--button-offset: 16px;
		--button-line-offset: -5px;
		--button-github-offset: 7px;
	}
}
@media only screen and (max-width: 485px) {
	:root {
		--name-size: 25px;

		--typewriter-size: 12px;

		--project-title-size: 13px;
		--project-content-size: 12px;
		
		--notice-project-size: 15px;
		
		--project-line-height-size: 120%;

		--project-buttons-margin: 3px;
		--project-button-border-size: 1px;
		--project-button-padding: 1px 5px 1px 0px;

		--margin-one: 10px;	
		--margin-two: 20px;

		--margin-divider: 26px;
		
		--button-size: 34px;
		--button-offset: 12px;
		--button-line-offset: -3px;
		--button-github-offset: 6px;
	}
}
@media only screen and (max-width: 345px) {
	:root {
		--name-size: 27px;

		--typewriter-size: 10px;

		--project-title-size: 12px;
		--project-content-size: 11px;

		--margin-one: 7px;	
		--margin-two: 12px;

		--margin-divider: 20px;
		
		--button-size: 30px;
		--button-offset: 10px;
		--button-line-offset: -2px;
		--button-github-offset: 4px;
	}
}
