/* Global
---------------------------------*/
body {
	font-size: 15px !important;
	font-family: 'Oxygen Mono', monospace;
	line-height: 175%;
}
h1 {
	font-size: 2.2em;
	margin: 0;	
	margin-bottom: 20px;
}


.black {
	background-color: #202020;
}
.black p,
.black h1 {
	color: #ffffff;
}
.white {
	background-color: #eff1f5;
}
.white p, 
.white h1 {
	color: #202020;
}

.section-wrapper {
	display:inline-block;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: -3px;
	position: relative;
	width: 100%;
}
.section-inner{
	margin: 0 auto;
	width: 70%;
}

.skills-category {
	color: #c50000;
}
.skills-topic {
	color: #c55000;
}


/* Introduction
---------------------------------*/
#section-intro {
	height: 100vh;
}


#intro-element {
  	height: 100%;
  	width: 100%;
  	text-align: center;
}


#name_div {
	position: relative;
	top: 35%;
	margin: 0 auto;
	width: 100%;
}
#name_div svg {
  	width: 515px;
  	background-image: url('../images/name_outline_white.png');
  	background-size: cover;
  	fill: #FFFFFF;
}

#typewriter_div {
	position: relative;
	top: 38%;
	margin: 0 auto;
	color: #ffffff;
	font-size: 20px;
}
#typed-cursor {
	color: #ffffff;
}

#buttons_div{
	position: relative;
	top: 43%;
	margin: 0 auto;
	display: table;
}
.button_div {
	display: table-cell;
    vertical-align: middle;
 	width: 60px;
  	height: 60px;
  	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  	transform: rotate(-45deg);
}
.button_div::before,
.button_div::after {
	content: '';
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	margin: -6px;
  	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
  	animation: clipMe 7s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}
.button_div::before {
	animation-delay: -3.5s;
}
.button_div:hover {
	background-color: #000000;
}

@keyframes clipMe {
  	0%, 100% {clip: rect(0px, 72px, 1px, 0px);}
  	25% {clip: rect(0px, 1px, 72px, 0px);}
  	50% {clip: rect(71px, 72px, 72px, 0px);}
  	75% {clip: rect(0px, 72px, 72px, 71px);}
}

.space_divider {
	width: 60px;
}

#resume_icon {
	width: 39px;
	height: 39px;
	margin-left: 11px;
	background-image: url('../images/file_white.png');
  	background-size: contain;
  	transform: rotate(45deg);
}
#email_icon {
	width: 39px;
	height: 39px;
	margin-left: 11px;
	background-image: url('../images/email_white.png');
  	background-size: contain;
  	transform: rotate(45deg);
}
#github_icon {
	width: 47px;
	height: 47px;
	margin-left: 7px;
	background-image: url('../images/github_white.png');
  	background-size: contain;
  	transform: rotate(45deg);
}


/* About Me
---------------------------------*/
#section-aboutme {
	z-index: 100;
}


.text-container {
	margin: 0 auto;
	text-align: center;
}

#aboutme-container {
	text-align: justify;
}


.left-container {
	width: 48%;
	float: left;
	display: inline-block;
}

.right-container {
	float: right;
	width: 48%;
	display: inline-block;
}
.brackets-content {
	margin-left: 30px;
}
.brackets-bottom {
	margin-left: 15px;
}
.brackets-arrow {
	display: inline-block;
  	width: 0;
  	height: 0;
  	border-top: 5px solid #202020;
  	border-right: 5px solid transparent;
  	border-left: 5px solid transparent;
  	transition: all 0.5s;
  	margin-bottom: 3px;
  	cursor: pointer;
}
.brackets-arrow.clicked {
	transform: rotate(-90deg);
}
.brackets-hidden {
	display: none;
}
.skills-switch {
	display: inline-block;
	width: 16px;
	height: 10px;
	border-radius: 10px;
	background-color: #000000;
  	cursor: pointer;
}
.switch {
	display: block;
  	position: relative;
  	content: '';
  	width: 8px; height: 8px;
  	top: 1px; left: 1px;
  	border-radius: 4px;
  	background: #fff;
  	transition: all 0.3s;
}
.switch.clicked {
  transform: translateX(6px);
}


/* Projects
---------------------------------*/
#section-projects {
	z-index: 100;
}

#projects-container {
	width: 100%;
  	display: grid;
  	grid-template-columns: auto auto auto;
  	margin: auto;
  	text-align: center;
}

.project-item {
  margin: 15px 10px 0px 10px;
}

.project-item img {
	width: 100%;
}


/* Responsive Media Queries
---------------------------------*/
@media only screen and (max-width : 1329px) {
	#projects-container {
		grid-template-columns: auto auto;
    }
}

@media only screen and (max-width : 812px) {
	.section-inner {
		width: 80%;
	}
	#name_div svg {
  		width: 73vw;
  	}
  	#name_div {
		top: calc(40.5vh - 5vw);
	}
  	#typewriter_div {
  		top: 38vh;
		font-size: 2.9vw;
	}	
	#buttons_div{
		top: calc(38vh + 4vw);
	}
	.space_divider {
		width: 8vw;
	}
	#aboutme-container {
        width: 100%;
        display: block;
    }

    #skill-container {
        width: 100%;
        display: block;
        float: left;
    }

    #projects-container {
		grid-template-columns: auto;
  		margin-bottom: 0;
    }
    .project-item {
  		margin: 15px 0px 0px 0px;
	}

    .button_div {
	 	width: 8vw;
	  	height: 8vw;
	}
	.button_div::before,
	.button_div::after {
		margin: -4px;
	}
    @keyframes clipMe {
  		0%, 100% {clip: rect(0px, calc(8vw + 8px), 1px, 0px);}
  		25% {clip: rect(0px, 1px, calc(8vw + 8px), 0px);}
  		50% {clip: rect(calc(8vw + 7px), calc(8vw + 8px), calc(8vw + 8px), 0px);}
  		75% {clip: rect(0px, calc(8vw + 8px), calc(8vw + 8px), calc(8vw + 7px));}
	}
	#resume_icon {
		width: 5.2vw;
		height: 5.2vw;
		margin-left: 1.4vw;
	}
	#email_icon {
		width: 5.2vw;
		height: 5.2vw;
		margin-left: 1.4vw;
	}
	#github_icon {
		width: 6.5vw;
		height: 6.5vw;
		margin-left: 0.8vw;
	}
}